[Desktop Entry]
Name=OABRemoteDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/OABRemoteDesk;
TryExec=OABRemoteDesk
Exec=OABRemoteDesk %u
Icon=OABRemoteDesk
Terminal=false
Type=Application
StartupNotify=false
